<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/root.css">
  </head>
  <body>
    <nav class="navbar-main">
      <div class="rightSide">
        <h1><a href="/">NewZ</a></h1>
      </div>
      <div class="leftSide">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="menu-icon">
        <img class="menu-btn" src="/img/menu.svg" alt="menu Icon" />
      </div>
    </nav>
    <nav class="navbar-side">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </nav>
    <script src="/scripts/navbar.js"></script>
  </body>
</html>
